POSTGRES_DB=petshop
POSTGRES_USER=petshop_lab
POSTGRES_PASSWORD=PetShopLab_28_ChangeMe!
PGADMIN_DEFAULT_EMAIL=admin@petshop.com
PGADMIN_DEFAULT_PASSWORD=PgAdminLab_28_ChangeMe!
SESSION_SECRET=PetShop_Session_Change_To_Random_32_Characters
WEB_PORT=8088
PGADMIN_PORT=5050
# Monitoring
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
